.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 32px 64px;
}

.container-gray {
    background-color: #FAFBFC;
}

.title {
    margin-bottom: 1rem;
    font-size: 36px;
}
.title-margin-top {
    margin-top: 1.2em
}
.subtitle {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.45);
}

@media (max-width: 768px) {
    .container{
        padding: 16px 16px;
    }
}