.back-top {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #364D79;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    margin: 0 40px;
}
