.wrap {
    /*height: 60vh;*/
    width: 100%;
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-around;*/
}

.card {
    background-color: #bfbfbf;
    display: flex;
    flex-flow: column;
    max-width: 200px;
    /*margin: 8px;*/

}

.scissor {
    font-size: 80px;
    text-align: center;
}