.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
    max-width: 1440px;
    margin-top: 2em;
}

.card {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    max-width: 300px;
    font-size: 18px;
    text-indent: .8em;
}
.card .ant-card-meta-title {
    font-size: 24px;
}

.icon {
    font-size: 64px;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width: 872px) {
    .wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    .wrap {
        grid-template-columns: 1fr;
    }
    .card {
        max-width: 100%;
    }
}