.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
    max-width: 1440px;
}

.card {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    max-width: 240px;
}

.scissor {
    font-size: 80px;
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {
    .wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .wrap {
        grid-template-columns: 1fr;
    }
    .card {
        max-width: 100%;
    }
}