.wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.card {
    width: 33.33%;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    border: none;
    /*background-color: #f8e8f4;*/
}

.card-meta {
    margin-bottom: 1rem;
}

.name {
    white-space: normal;
    font-size: 1.3em;
}
.text {
    text-indent: 1em;
}
.dots {
    bottom: 0;
}
@media (max-width: 1024px) {
    .wrap {
        flex-flow: column;
    }
    .card {
        width: 100%;
    }
}

@media (max-width: 600px) {

}