.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.title {
    margin-bottom: 1rem;
}

.title a {
    color: darkslateblue;
}
.image {
    border-radius: 4px;
    width: 280px;
    height: auto;
    cursor: pointer;
    transition: transform .2s;
    margin: 1rem;
}

.image:hover {
    transform: scale(1.1)
}
