.container {
    display: flex;
    padding: 24px;
    max-width: 50%;
    flex-flow: column;
    justify-content: space-between;
}

.link {
    font-size: 20px;
    margin-bottom: 12px;
    color: #333;
}

.icon {
    font-size: 32px;
    margin-right: 8px;
}

.type {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #333;
    text-decoration-thickness: 1px;
    font-weight: 500;
}

@media (max-width: 986px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .link {
        font-size: 15px;
    }
}